In [1]:
import pandas as pd
import numpy as np

In [2]:
# Cargar base de datos 
df = pd.read_csv("data.csv")

In [23]:
# Verificar valores nulos
print(f"Valores nulos por columna:\n{df.isnull().sum()}")

Valores nulos por columna:
Administrative             0
Administrative_Duration    0
Informational              0
Informational_Duration     0
ProductRelated             0
ProductRelated_Duration    0
BounceRates                0
ExitRates                  0
PageValues                 0
SpecialDay                 0
Month                      0
OperatingSystems           0
Browser                    0
Region                     0
TrafficType                0
VisitorType                0
Weekend                    0
Revenue                    0
dtype: int64

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 69 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Administrative                 12330 non-null  int64
 1   Administrative_Duration        12330 non-null  float64
 2   Informational                  12330 non-null  int64
 3   Informational_Duration         12330 non-null  float64
 4   ProductRelated                 12330 non-null  int64
 5   ProductRelated_Duration        12330 non-null  float64
 6   BounceRates                    12330 non-null  float64
 7   ExitRates                      12330 non-null  float64
 8   PageValues                     12330 non-null  float64
 9   SpecialDay                     12330 non-null  float64
 10  Weekend                        12330 non-null  bool
 11  Revenue                        12330 non-null  bool
 12  Month_Dec                      12330 non-null  int64
 13  Month_Feb                      12330 non-null  int64
 14  Month_Jul                      12330 non-null  int64
 15  Month_June                     12330 non-null  int64
 16  Month_Mar                      12330 non-null  int64
 17  Month_May                      12330 non-null  int64
 18  Month_Nov                      12330 non-null  int64
 19  Month_Oct                      12330 non-null  int64
 20  Month_Sep                      12330 non-null  int64
 21  VisitorType_Other              12330 non-null  int64
 22  VisitorType_Returning_Visitor  12330 non-null  int64
 23  OperatingSystems_2             12330 non-null  int64
 24  OperatingSystems_3             12330 non-null  int64
 25  OperatingSystems_4             12330 non-null  int64
 26  OperatingSystems_5             12330 non-null  int64
 27  OperatingSystems_6             12330 non-null  int64
 28  OperatingSystems_7             12330 non-null  int64
 29  OperatingSystems_8             12330 non-null  int64
 30  Browser_2                      12330 non-null  int64
 31  Browser_3                      12330 non-null  int64
 32  Browser_4                      12330 non-null  int64
 33  Browser_5                      12330 non-null  int64
 34  Browser_6                      12330 non-null  int64
 35  Browser_7                      12330 non-null  int64
 36  Browser_8                      12330 non-null  int64
 37  Browser_9                      12330 non-null  int64
 38  Browser_10                     12330 non-null  int64
 39  Browser_11                     12330 non-null  int64
 40  Browser_12                     12330 non-null  int64
 41  Browser_13                     12330 non-null  int64
 42  Region_2                       12330 non-null  int64
 43  Region_3                       12330 non-null  int64
 44  Region_4                       12330 non-null  int64
 45  Region_5                       12330 non-null  int64
 46  Region_6                       12330 non-null  int64
 47  Region_7                       12330 non-null  int64
 48  Region_8                       12330 non-null  int64
 49  Region_9                       12330 non-null  int64
 50  TrafficType_2                  12330 non-null  int64
 51  TrafficType_3                  12330 non-null  int64
 52  TrafficType_4                  12330 non-null  int64
 53  TrafficType_5                  12330 non-null  int64
 54  TrafficType_6                  12330 non-null  int64
 55  TrafficType_7                  12330 non-null  int64
 56  TrafficType_8                  12330 non-null  int64
 57  TrafficType_9                  12330 non-null  int64
 58  TrafficType_10                 12330 non-null  int64
 59  TrafficType_11                 12330 non-null  int64
 60  TrafficType_12                 12330 non-null  int64
 61  TrafficType_13                 12330 non-null  int64
 62  TrafficType_14                 12330 non-null  int64
 63  TrafficType_15                 12330 non-null  int64
 64  TrafficType_16                 12330 non-null  int64
 65  TrafficType_17                 12330 non-null  int64
 66  TrafficType_18                 12330 non-null  int64
 67  TrafficType_19                 12330 non-null  int64
 68  TrafficType_20                 12330 non-null  int64
dtypes: bool(2), float64(7), int64(60)
memory usage: 6.3 MB

In [11]:
df

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,Feb,3,3,1,4,Returning_Visitor,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,Dec,4,6,1,1,Returning_Visitor,True,False
12326,0,0.0,0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,Nov,3,2,1,8,Returning_Visitor,True,False
12327,0,0.0,0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,Nov,3,2,1,13,Returning_Visitor,True,False
12328,4,75.0,0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,Nov,2,2,3,11,Returning_Visitor,False,False
12329,0,0.0,0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,Nov,3,2,1,2,New_Visitor,True,False

In [17]:
# Verificar variables categoricas
df["Month"].value_counts()
df["VisitorType"].value_counts()
df["OperatingSystems"].value_counts()
df["Browser"].value_counts()
df["Region"].value_counts()
df["TrafficType"].value_counts()

TrafficType
2     3913
1     2451
3     2052
4     1069
13     738
10     450
6      444
8      343
5      260
11     247
20     198
9       42
7       40
15      38
19      17
14      13
18      10
16       3
12       1
17       1
Name: count, dtype: int64

In [25]:
cols_categoricas = ['Month', 'VisitorType', 'OperatingSystems', 'Browser', 'Region', 'TrafficType']

In [26]:
df = pd.get_dummies(df, columns=cols_categoricas, drop_first=True, dtype=int)

In [27]:
df

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,...,TrafficType_11,TrafficType_12,TrafficType_13,TrafficType_14,TrafficType_15,TrafficType_16,TrafficType_17,TrafficType_18,TrafficType_19,TrafficType_20
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,...,0,0,0,0,0,0,0,0,0,0
12326,0,0.0,0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
12327,0,0.0,0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,...,0,0,1,0,0,0,0,0,0,0
12328,4,75.0,0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,...,1,0,0,0,0,0,0,0,0,0
12329,0,0.0,0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
# 3. Convertimos las booleanas a 1 y 0
df['Weekend'] = df['Weekend'].astype(int)
df['Revenue'] = df['Revenue'].astype(int)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 69 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Administrative                 12330 non-null  int64
 1   Administrative_Duration        12330 non-null  float64
 2   Informational                  12330 non-null  int64
 3   Informational_Duration         12330 non-null  float64
 4   ProductRelated                 12330 non-null  int64
 5   ProductRelated_Duration        12330 non-null  float64
 6   BounceRates                    12330 non-null  float64
 7   ExitRates                      12330 non-null  float64
 8   PageValues                     12330 non-null  float64
 9   SpecialDay                     12330 non-null  float64
 10  Weekend                        12330 non-null  int64
 11  Revenue                        12330 non-null  int64
 12  Month_Dec                      12330 non-null  int64
 13  Month_Feb                      12330 non-null  int64
 14  Month_Jul                      12330 non-null  int64
 15  Month_June                     12330 non-null  int64
 16  Month_Mar                      12330 non-null  int64
 17  Month_May                      12330 non-null  int64
 18  Month_Nov                      12330 non-null  int64
 19  Month_Oct                      12330 non-null  int64
 20  Month_Sep                      12330 non-null  int64
 21  VisitorType_Other              12330 non-null  int64
 22  VisitorType_Returning_Visitor  12330 non-null  int64
 23  OperatingSystems_2             12330 non-null  int64
 24  OperatingSystems_3             12330 non-null  int64
 25  OperatingSystems_4             12330 non-null  int64
 26  OperatingSystems_5             12330 non-null  int64
 27  OperatingSystems_6             12330 non-null  int64
 28  OperatingSystems_7             12330 non-null  int64
 29  OperatingSystems_8             12330 non-null  int64
 30  Browser_2                      12330 non-null  int64
 31  Browser_3                      12330 non-null  int64
 32  Browser_4                      12330 non-null  int64
 33  Browser_5                      12330 non-null  int64
 34  Browser_6                      12330 non-null  int64
 35  Browser_7                      12330 non-null  int64
 36  Browser_8                      12330 non-null  int64
 37  Browser_9                      12330 non-null  int64
 38  Browser_10                     12330 non-null  int64
 39  Browser_11                     12330 non-null  int64
 40  Browser_12                     12330 non-null  int64
 41  Browser_13                     12330 non-null  int64
 42  Region_2                       12330 non-null  int64
 43  Region_3                       12330 non-null  int64
 44  Region_4                       12330 non-null  int64
 45  Region_5                       12330 non-null  int64
 46  Region_6                       12330 non-null  int64
 47  Region_7                       12330 non-null  int64
 48  Region_8                       12330 non-null  int64
 49  Region_9                       12330 non-null  int64
 50  TrafficType_2                  12330 non-null  int64
 51  TrafficType_3                  12330 non-null  int64
 52  TrafficType_4                  12330 non-null  int64
 53  TrafficType_5                  12330 non-null  int64
 54  TrafficType_6                  12330 non-null  int64
 55  TrafficType_7                  12330 non-null  int64
 56  TrafficType_8                  12330 non-null  int64
 57  TrafficType_9                  12330 non-null  int64
 58  TrafficType_10                 12330 non-null  int64
 59  TrafficType_11                 12330 non-null  int64
 60  TrafficType_12                 12330 non-null  int64
 61  TrafficType_13                 12330 non-null  int64
 62  TrafficType_14                 12330 non-null  int64
 63  TrafficType_15                 12330 non-null  int64
 64  TrafficType_16                 12330 non-null  int64
 65  TrafficType_17                 12330 non-null  int64
 66  TrafficType_18                 12330 non-null  int64
 67  TrafficType_19                 12330 non-null  int64
 68  TrafficType_20                 12330 non-null  int64
dtypes: float64(7), int64(62)
memory usage: 6.5 MB

In [34]:
# 4. Verificamos el resultado
print(f"Columnas originales: {df.shape[1]}")
print(f"Columnas tras dummies: {df.shape[1]}")

Columnas originales: 69
Columnas tras dummies: 69

In [35]:
df.to_csv('data_clean.csv', index=False)

In [7]:
# Exportar df con máximo 900 registros a CSV
df_900 = df.head(500)
df_900.to_csv('data_900.csv', index=False)
print(f"Exportados {len(df_900)} registros a data_900.csv")

Exportados 500 registros a data_900.csv

In [6]:
df['Revenue'] = df['Revenue'].astype(int)